.myDiagram,
.myDiagramPalette {
  width: 100%;
  background: url("/images/grid.jpg") repeat;
}

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  &Item {
    width: auto !important;
  }
}
.diagContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 5px;
  > div:first-child {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    column-gap: 5px;
    flex: 1;
    box-sizing: border-box;
    .editorContainer {
      height: 100%;
      width: 100%;
    }
    .imgContainer {
      height: 100%;
      width: 100%;
      overflow: hidden;
      box-sizing: border-box;
      background: url("/images/grid.jpg") repeat;
    }
  }
}
